@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;800&family=Open+Sans&display=swap');
body {
    margin: 0px;
}

.registrationpage__container {
    display: flex;
}

.registrationpage__header {
    padding: 30px 60px;
    display: flex;
    color: #FFFFFF;
    background-color: #7025FB;
}

.registrationpage-left__wrapper {
    width: 923px;
    height: 100vh;
}

.registrationpage-left__wrapper-img {
    height: calc(100% - 84px);
    position: relative;
}

.registrationpage-left__wrapper-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.left__wrapper-quote {
    position: absolute;
    margin-top: 190px;
    margin-left: 130px;
    font-family: 'Nunito', sans-serif;
    font-size: 26;
    font-weight: 800;
    color: #212529;
    font-style: italic;
    text-transform: uppercase;
}

.left__wrapper-quote p {
    color: #E5E6E8;
    font-size: 24px;
    font-weight: 500;
}

.registrationpage-right__wrapper {
    flex-grow: 1;
}

.registration-title {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 48px;
    box-sizing: border-box;
    border: 1px solid rgba(185, 180, 196, 0.3);
}

.registration-title p {
    margin: 0px;
}

.registration-form__container {
    padding: 60px 174px 0px 48px;
}

.registration-steps {   
    display: flex;
    flex-direction: column;
    margin-bottom: 113px;
}

.registration-steps-numbers {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #212529;
    padding: 0px 45px;
    margin-bottom: 4px;
}

.registration-steps-line {
    width: 100%;
    height: 1px;
    margin: 0px 4px;
    background-color: #B9B4C34D;
}

.registration-steps-number {
    box-sizing: border-box;
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #E5E6E8;
}

.registration-steps-titles {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    display: flex;
    width: 100%;
    gap: 77px;
    flex-shrink: 0;
}

.registration-form-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 85px;
}

.registraton-form-title {   
    font-size: 32px;
    color: #000;
    margin: 0px 0px 3px 0px;
}

.registration-form-subtitle {
    font-size: 14px;
    color: #95939A;
    margin: 0px;
}

.registration-form-container {
    display: flex;
    flex-direction: column;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.registration-form-input {
    width: 100%;
    border: none;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    color: #212529;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}

.registration-form-input:focus {
    background-color: #E9ECEF;   
}

.input-1:focus .step-one  {
    background-color: red;
}

.registration-form-input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}



.registration-form-buttons {
    display: flex;
    justify-content: space-between;
}

.registration-submit-btn {
        padding: 13px 24px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 27.24px;
        color: #FFF;
        background-color: #212529;
        border-radius: 8px;
        border: none;
        /* display: none; */
        align-items: center;
}

.next-btn {
    padding: 13px 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27.24px;
    color: #FFF;
    background-color: #212529;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
}

.next-btn img {
    margin-left: 12px;
}

.registration-back-btn {
    padding: 13px 24px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #212529;
    border-radius: 8px;
    text-decoration: none;
}

.registration-submit-btn img {
    margin-left: 12px;
}




#form-error__container {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 350px;
    height: 87px;
    left: 1531px;
    top: 226px; 
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

#form-error_header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 9px 12px;
    border-bottom: 1px solid #0000000f;
}

#form-error_header-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(220, 53, 69, 1);
    font-weight: 600;
}

#form-error {
    font-family: 'Open Sans', sans-serif    ;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-size: 16px;
    color: rgba(33, 37, 41, 1);
    font-weight: 400;
}

.error-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-input-container {
    position: relative;
}

.form-success-icon {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 13px;
}